#container {
    display: flex;
    border: 2px solid black;
    background-color: lightblue;
    flex-direction: row;
    width: 600px;
    height: 150px;
}
.box {
    background-color: lightcoral;
    width: 25%;
    height: auto;
    border: 2px solid white;
}
.box :hover{
    background-color: rgb(241, 97, 220);
    cursor: pointer;
}
.box:nth-child(2),
.box:nth-child(1){
    background-color: lightyellow;


}
.box:nth-child(3){
    background-color: rgb(84, 167, 235);
}
img{
    width: 100%;
    height: auto;
}
