#container-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: 600px;
    gap: 4px; 
    border: none;
}

.box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    background: #fff;
    font-size: 20px;
    gap: 2px;
    border: none;
}
.inner-box {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(210, 33, 233);
    font-size: 16px;
}


.box:nth-child(1) .inner-box { background-color:#021a23; }
.box:nth-child(2) .inner-box { background-color: #021a23; }
.box:nth-child(3) .inner-box { background-color: #021a23; }
.box:nth-child(4) .inner-box { background-color: #021a23; }
.box:nth-child(5) .inner-box { background-color: #021a23; }
.box:nth-child(6) .inner-box { background-color: #021a23; }
.box:nth-child(7) .inner-box { background-color: #021a23; }
.box:nth-child(8) .inner-box { background-color: #021a23; }
.box:nth-child(9) .inner-box { background-color: #021a23; }

img {
    width: 150px;
    height: 90px;
    object-fit: cover;
    display: block;
    margin: 0 auto;
    border-radius: 4px;
    transition: transform 0.3s;
}

img:hover {
    transform: scale(1.1);
}